form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    gap: 5px;

}
input,select{
    width: 300px;
    align-self: center;
    border-radius: 20px;
    background: #2f2e2e;
        border: 1px solid purple;
        padding: 6px;
        padding-left: 10px;
        margin-bottom: 20px;
        color: aliceblue;
        
}
select option{
    padding-left: 8px;
    border: 1px solid purple;
    border-radius: 5px;
    background: rgb(50, 49, 49);
    color: aliceblue;
}
select option:hover{
    background: purple;
}
label{
    color: aliceblue;
    padding-left: 13px;
    padding-bottom: 6px;
    text-transform: capitalize;
    
}
.container{
    width: 400px;
    background: rgb(22, 22, 22);
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 16px rgb(11, 11, 11);
    display: flex;
    border-radius: 30px;
    border: 2px solid purple;

}

body{
    background: #151515;
       align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100dvw;
}
#btn{
    align-self: center;
     border: none;
    box-shadow: 4px 3px 16px rgb(19, 0, 0);
    border-radius: 20px;
    background-color: purple;
    color: aliceblue;
    width: 300px;
    height: 40px;
    font-size: large;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;


}
#alertbox{
    visibility: hidden;
    color: white;
    border: 2px solid red;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    text-shadow: 4px 3px 16px rgb(19, 0, 0);
    padding-top: 10px;
    margin-bottom: 10px;
}
@media (max-width:453px) {

    .container{
        width: 330px;
    }
    input,select{
        width: 270px;
    }
}